<link rel="stylesheet" href="/css/style.css" />
<header class="headerContent">
	<div class="subHeader">
		<p>
			Hacemos envíos a todo el país. Política de devolución de 15 días. Envío
			gratuito en pedidos superiores a $ 10000.
		</p>
	</div>
	<div class="firstHeader">
		<div class="headerMenu">
			<button class="fa-solid fa-bars"></button>
		</div>
		<a href="/">
			<img src="./img/Logo 3.svg" alt="Logo" />
		</a>
		<div class="leftHeader">
			<a href="/">
				<img src="./img/LogoExpanded.svg" alt="" />
			</a>
			<a href="#">Disciplinas</a>
			<div class="leftNav">
				<i class="fa-solid fa-magnifying-glass"></i>
				<input type="text" placeholder="Que deseas encontrar?" />
			</div>
		</div>
		<div class="rightHeader">
			<div class="headerSearch">
				<button class="fa-solid fa-magnifying-glass"></button>
			</div>
			<a href="/carrito" class="fa-solid fa-cart-shopping"></a>
			<a href="/login" class="fa-sharp fa-solid fa-user"></a>
		</div>
	</div>
</header>
