<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carrito</title>
		<link rel="icon" href="/img/Logo 3.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/948b015395.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body class="body">
		<header class="body__header">
			<h3 class="body__header__h3">
				Hacemos envio a todo el pais.politica de devolucion de 15 dias.envio
				gratuito en pedidos superior a $10000.
			</h3>
			<nav>
				<img src="/img/logo.jpg" alt="logo" />
				<link rel="stylesheet" href="/views/header.html" />
				<input type="text" placeholder="¿que deseas encontrar?" />
				<i class="fa-solid fa-hand-holding-dollar"></i>
				<i class="fa-solid fa-hand-holding-dollar"></i>
			</nav>
		</header>
		<main class="main">
			<div class="main__div__principal">
				<div class="main__div__principal--sec">
					<img
						class="main__div__principal__imagen"
						src="/img/pintura2.png"
						alt="pintura1"/>
                    <div class="main_columna">
                        <p class="main__div__principal__p">Agregaste a tu carrito</p>
					<p class="main__div__principal__p">
						Pintura de la decada 80 ilustrada por pablo picaso mostrando el
						reflejo del alma</p>
                    </div>
                    <div class="main_columna">
                        <h3 class="main__div__principal__h3">1 producto en tu carrito:9200</h3>
                        <h5 class="main__div__principal__h5">Envio gratis</h5>
                    </div>
					<div class="main_columna">
                        <button class="main__div__principal__btn">Ver carrito</button>
					    <button class="main__div__principal__btn">Comprar carrito</button>
                    </div>
				</div>
				<div class="main__div__principal--sec">
					<img
						class="main__div__principal__imagen"
						src="/img/pintura4.png"
						alt="pintura2"/>
                    <div>
                        <p class="main__div__principal__p">Agregaste a tu carrito</p>
                        <p class="main__div__principal__p">
                            Pintura de la decada 80 ilustrada por pablo picaso mostrando el
                            reflejo del alma
                        </p>
                    </div>
                    <div>
                        <h3 class="main__div__principal__h3">2 producto en tu carrito:9200</h3>
                        <h5 class="main__div__principal__h5">Envio gratis</h5>
                    </div>
					<div>
                        <button class="main__div__principal__btn">Ver carrito</button>
					    <button class="main__div__principal__btn">Comprar carrito</button>
                    </div>
				</div>
			</div>
			<h3 class="main__h3">Carrito de compra</h3>
			<div class="main__div_secundario">
				<!-- <div class="main__div__secundario__titulo"> -->
				<h4 class="main__div__secundario__h4">
					Pintura | Escultura | Fotografia | Ilustraciones
				</h4>
				<!-- <ul class="enlaces">
                    <li><a href="">Pintura |</a></li>
                    <li><a href="">Escultura |</a></li>
                    <li><a href="">Fotografia |</a></li>
                    <li><a href="">Ilustraciones |</a></li>
                </ul> -->
				<div class="div__caja__carrito">
					<article class="article__caja__carrito">
						<h4 class="main__div__h4">Pintura</h4>
						<img class="main__div__img" src="/img/pintura2.png" alt="" />
						<p class="main__div__p1">$10000</p>
						<p class="main__div__p2">$9200</p>
						<p class="main__div__cajita">agregaste al carrito</p>
					</article>
					<article class="article__caja__carrito">
						<h4 class="main__div__h4">Sumario</h4>
						<img class="main__div__img" src="/img/pintura4.png" alt="" />
						<p class="main__div__p1">$10000</p>
						<p class="main__div__p2">$9200</p>
						<p class="main__div__cajita">agregaste al carrito</p>
					</article>
					<article class="article__caja__carrito">
						<h4 class="main__div__h4">Flowers</h4>
						<img class="main__div__img" src="/img/pintura1.png" alt="" />
						<p class="main__div__p1">$10000</p>
						<p class="main__div__p2">$9200</p>
						<p class="main__div__cajita">agregaste al carrito</p>
					</article>
					<article class="article__caja__carrito">
						<h4 class="main__div__h4">Alejandro Magno</h4>
						<img class="main__div__img" src="/img/píntura3.png" alt="" />
						<p class="main__div__p1">$10000</p>
						<p class="main__div__p2">$9200</p>
						<p class="main__div__cajita">agregaste al carrito</p>
					</article>
				</div>
			</div>
		</main>
		<footer class="secondArticle">
			<div class="informationStore">
				<div class="subInformation">
					<h4>Informacion de la tienda</h4>
					<a href="#">Avenida siempre viva 742</a>
					<a href="#">ventas@artsphera.com</a>
					<a href="#">0800-000-0000</a>
				</div>
				<div class="subInformation">
					<h4>Productos</h4>
					<a href="#">Nuevos productos</a>
					<a href="#">Más vendidos</a>
					<a href="#">Ofertas especiales</a>
				</div>
				<div class="subInformation">
					<h4>Empresa</h4>
					<a href="#">Contacta con nosotros</a>
					<a href="#">Terminos y condiciones</a>
					<a href="#">Sobre nosotros</a>
				</div>
				<div class="subInformation">
					<h4>Tu cuenta</h4>
					<a href="#">Información personal</a>
					<a href="#">Pedidos</a>
					<a href="#">Cupones de descuento</a>
				</div>
			</div>
			<div class="footerContent">
				<div class="copyrightStore">
					<p>2023 - Artsphera. Todos los derechos reservados.</p>
					<img src="/img/class-payments.png" alt="" width="250px" />
				</div>
			</div>
		</footer>
	</body>
</html>
