<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/16018bb78d.js" crossorigin="anonymous"></script>
</head>
<body class="body">
    <header class="body_header">
        <!-- <h3 class="body__header__h3">Hacemos envio a todo el pais.Politica de devolucion de 15 dias.envio gratuito en pedidos superior a $10000.</h3> -->
        <div class="body__header__nav__div">
            <nav class="body__header__nav">
                <div class="home_header_burger--menu">
                    <a href="/"><i class="fas fa-bars"></i></a>
                    <img class="body__header__nav__img" src="/img/logo.jpg" alt="logo"> 
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="home__header--box">   
                    <div class="home_header_encabezado--barra">
                    <form class="home_header_encabezado--form" action="#" method="post" target="_blank">
                        <input class="home_header_encabezado--form--input" type="search"
                            placeholder="¿Que deseas encontrar?">
                        <div class="home_header_encabezado--btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </form>
                </div>
                </div>
                
            </nav>
        </div>
    </header>
</body>
</html>