<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Artesphera</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/a80a6cbb3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="index">
    <header class="headerContent">
        <div class="subHeader">
            <p>
                Hacemos envíos a todo el país. Política de devolución de 15 días.
                Envío gratuito en pedidos superiores a $ 10000.
            </p>
        </div>
        <div class="firstHeader">
            <div class="headerMenu">
                <button class="fa-solid fa-bars"></button>
            </div>
            <img src="./img/Logo 3.svg" alt="Logo" />
            <div class="leftHeader">
                <img src="./img/LogoExpanded.svg" alt="LogoExpanded" />
                <a href="#">Disciplinas</a>
                <div class="leftNav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Que deseas encontrar?" />
                </div>
            </div>
            <div class="rightHeader">
                <div class="headerSearch">
                    <button class="fa-solid fa-magnifying-glass"></button>
                </div>
                <a href="#" class="fa-solid fa-cart-shopping"></a>
                <a href="#" class="fa-sharp fa-solid fa-user"></a>
            </div>
        </div>
    </header>
    <main class="index-main">
        <div class="index-main__section--banner">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/banner/banner1.png" alt="banner1"></div>
                    <div class="swiper-slide"><img src="/img/banner/banner2.jpg" alt="banner2"></div>
                    <div class="swiper-slide"><img src="/img/banner/banner3.jpg" alt="banner3"></div>
                    <div class="swiper-slide"><img src="/img/banner/banner4.jpg" alt="banner4"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <section class="index-tematicas">
            <h1 class="index__titulo">Explora por temáticas</h1>
            <div class="index-tematicas__contenedor">
                <article class="index-article">
                    <a href="#">
                        <img class="index-article__img" src="/img/productos/card1.jpg" alt="pintura">
                        <h3 class="index-article__titulo">Pintura</h3>
                    </a>
                </article>
                <article class="index-article">
                    <a href="#">
                        <img class="index-article__img" src="/img/productos/card2.jpeg" alt="escultura">
                        <h3 class="index-article__titulo">Escultura</h3>
                    </a>
                </article>
                <article class="index-article">
                    <a href="#">
                        <img class="index-article__img" src="/img/productos/card3.jpg" alt="fotografía">
                        <h3 class="index-article__titulo">Fotografía</h3>
                    </a>
                </article>
                <article class="index-article">
                    <a href="#">
                        <img class="index-article__img" src="/img/productos/card4.jpg" alt="dibujo">
                        <h3 class="index-article__titulo">Dibujo</h3>
                    </a>
                </article>
                <article class="index-article">
                    <a href="#">
                        <img class="index-article__img" src="/img/productos/card5.jpg" alt="arte digital">
                        <h3 class="index-article__titulo">Arte Digital</h3>
                    </a>
                </article>
                <article class="index-article">
                    <a href="#">
                        <img class="index-article__img" src="/img/productos/card6.jpg" alt="collage">
                        <h3 class="index-article__titulo">Collage</h3>
                    </a>
                </article>
            </div>
            <button class="index-tematicas__button">Ver todos los productos</button>
        </section>
        <section class="index-producto">
            <h2 class="index-producto__categoria">Novedades</h2>
            <div class="producto-container">
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="/img/productos/card1.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class=" producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card3.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card4.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card5.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card6.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card7.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card8.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card1.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="index-producto">
            <h2 class="index-producto__categoria">Productos Destacados</h2>
            <div class="producto-container">
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="/img/productos/card1.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card3.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card4.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card5.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card6.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card7.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card8.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card1.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="index-form">
                <h2>Recibe las últimas novedades</h2>
                <h3>Suscribite a nuestro boletín para recibir novedades y/o cupones de descuentos</h3>
            <div class="index-form-container">
                <form>
                    <div>
                        <input class="index-form-container__email" type="email" name="email"
                            placeholder="Ingresa tu email" required>
                        <button type="submit">Suscribirse</button>
                        <div>
                            <label for="terminos">
                                <input type="checkbox" name="terminos" id="terminos" required>
                                Acepta nuestros terminos y condiciones
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="secondArticle">
        <div class="informationStore">
            <div class="subInformation">
                <h4>Informacion de la tienda</h4>
                <a href="#">Avenida siempre viva 742</a>
                <a href="#">ventas@artsphera.com</a>
                <a href="#">0800-000-0000</a>
            </div>
            <div class="subInformation">
                <h4>Productos</h4>
                <a href="#">Nuevos productos</a>
                <a href="#">Más vendidos</a>
                <a href="#">Ofertas especiales</a>
            </div>
            <div class="subInformation">
                <h4>Empresa</h4>
                <a href="#">Contacta con nosotros</a>
                <a href="#">Terminos y condiciones</a>
                <a href="#">Sobre nosotros</a>
            </div>
            <div class="subInformation">
                <h4>Tu cuenta</h4>
                <a href="#">Información personal</a>
                <a href="#">Pedidos</a>
                <a href="#">Cupones de descuento</a>
            </div>
        </div>
        <div class="footerContent">
            <!-- <div class="navStore">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div> -->
            <div class="copyrightStore">
                <p>2023 - Artsphera. Todos los derechos reservados.</p>
                <img src="/img/class-payments.png" alt="" width="250px" />
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/index-functions.js"></script>
</body>

</html>