<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/a80a6cbb3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>ProductDetail | Artesphera</title>
  </head>
  <body class="index">
    <header class="headerContent">
      <div class="subHeader">
        <p>
          Hacemos envíos a todo el país. Política de devolución de 15 días.
          Envío gratuito en pedidos superiores a $ 10000.
        </p>
      </div>
      <div class="firstHeader">
        <div class="headerMenu">
          <button class="fa-solid fa-bars"></button>
        </div>
        <img src="./img/Logo 3.svg" alt="" />
        <div class="leftHeader">
          <img src="./img/LogoExpanded.svg" alt="" />
          <a href="#">Disciplinas</a>
          <div class="leftNav">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Que deseas encontrar?" />
          </div>
        </div>
        <div class="rightHeader">
          <div class="headerSearch">
            <button class="fa-solid fa-magnifying-glass"></button>
          </div>
          <a href="#" class="fa-solid fa-cart-shopping"></a>
          <a href="#" class="fa-sharp fa-solid fa-user"></a>
        </div>
      </div>
    </header>
    <main class="mainContainer">
        <div class="mainFlexImg">
          <div class="img-detail">
            <img src="./img/escultura.png" alt="" />
          </div>
          <div class="mainAutor">
            <h1>Jean-Michel-Basquiat</h1>
            <p>Nombre Autor, Pais, Año</p>
            <p class="mainPrecio">21.123 $</p>
            <p>Gastos de envio e impuestos incluidos</p>
            <button>Añadir al carrito</button>
            <div class="mainSobre">
              <div>
                <i class="fa-regular fa-gem"></i>
                <p>Todo incluido en el precio</p>
              </div>
              <div>
                <i class="fa-solid fa-truck"></i>
                <p>Entrega profesional entre 7 y 10 dias</p>
              </div>
              <div>
                <i class="fa-solid fa-dolly"></i>
                <p>Devoluciones gratuitas 14 dias despues de entrega</p>
              </div>
              <div>
                <i class="fa-solid fa-check-double"></i>
                <p>Obra original con certificado de autenticidad</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mainCreacion">
          <div class="mainSobreCreacion">
            <h3>Sobre la creacion</h3>
            <p>
              ¡Homenaje a un gran artista que murió muy joven! Basquiat alcanzó
              el éxito durante la década de 1980 como parte del Movimiento
              Neoexpresionista. También colaboró con Andy Warhol y se convirtió
              en el artista más joven en participar en la exhibición de arte
              contemporáneo de la Bienal de Whitney. Vendió su primera pintura,
              Cadillac Moon a Debbie Harry por 200 $ en 1981 y los precios
              actuales de una pintura de Basquiat superan los 20 millones de
              dólares.
            </p>
          </div>
          <div class="mainDetalleEspecificacion">
            <h3>Detalle de especificacion</h3>
            <div class="mainOtrosDetalles">
              <p>Tecnica</p>
              <p>Acrilico, Oleo en Lienzo</p>
            </div>
            <div class="mainOtrosDetalles">
              <p>Otros detalles</p>
              <p>
                Obra estirada sobre bastidor. Lista para colgar. Enmarcacion
                bajo pedido
              </p>
            </div>
            <div class="mainOtrosDetalles">
              <p>Dimensiones</p>
              <p>120x140cm</p>
            </div>
          </div>
        </div>
        <div class="mainEnvios">
          <div class="mainDetalleEnvios">
            <img class="imgEnvio" src="./img/carro.png" alt="" />
            <h4>ENVÍO & DEVOLUCIONES</h4>
            <p>
              Entrega internacional profesional, supervisada por nuestros
              expertos en logística Los gastos de envío, impuestos y tributos
              están incluidos en el precio Devoluciones gratuitas durante 14
              días (excepto en el caso de los artículos hechos por encargo)
            </p>
          </div>
          <div class="mainDetalleEnvios">
            <img class="imgEnvio" src="./img/garantia.png" alt="" />
            <h4>GARANTÍA</h4>
            <p>
              Artesphera garantiza fiabilidad y trazabilidad. Todos los artistas
              de la plataforma han sido especialmente seleccionados y certifican
              que solo venden obras de las que son creadores. Cual sea el
              soporte, la obra se envía al comprador con certificado de
              autenticidad. Las fotografías están numeradas y firmadas. Cada
              cliente puede recibir una copia de su certificado de autenticidad
              poniéndose en contacto con (email)
            </p>
          </div>
          <div class="mainDetalleEnvios">
            <img class="imgEnvio" src="./img/pago.png" alt="" />
            <h4>PAGO</h4>
            <p>
              Con ARTESPHERA puede pagar de forma segura con tarjeta de crédito
              o transferencia bancaria. Para todas las transacciones que excedan
              su límite de crédito, contáctenos. Estamos obligados a verificar
              cada transferencia, como parte de la lucha contra el fraude y el
              lavado de dinero.
            </p>
          </div>
          <div class="mainDetalleEnvios">
            <img class="imgEnvio" src="./img/precio.png" alt="" />
            <h4>PRECIO</h4>
            <p>
              Los precios de ARTESPHERA incluyen lo siguiente: El precio de la
              obra, según lo haya determinado el artista. El seguro. Su pedido
              estará asegurado al 100 % en caso de daño o robo. La gestión total
              de las tasas de aduanas, los impuestos y la documentación. Los
              gastos de envío del proveedor logístico, que es una empresa de
              terceros. La asignación de un experto en atención al cliente de
              ARTESPHERA, que le ayudará en caso de que tenga alguna duda o
              problema durante el envío.
            </p>
          </div>
        </div>
        <section class="index-producto">
            <h2 class="index-producto__categoria">Productos Destacados</h2>
            <div class="producto-container">
                <i class="fa-solid fa-chevron-left ant-boton"></i>
                <i class="fa-solid fa-chevron-right sig-boton"></i>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="/img/productos/card1.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card3.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card4.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card5.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card6.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card7.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card8.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card1.jpg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
                <div class="producto-card">
                    <div class="producto-imagen">
                        <span class="producto-card__descuento">50% off</span>
                        <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                        <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                            carrito</button>
                    </div>
                    <div class="producto-info">
                        <h2 class="producto-info__titulo">Producto</h2>
                        <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                        <span class="precio--descuento">$20</span><span class="precio">$40</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="index-producto">
        <h2 class="index-producto__categoria">Productos Destacados</h2>
        <div class="producto-container">
            <i class="fa-solid fa-chevron-left ant-boton"></i>
            <i class="fa-solid fa-chevron-right sig-boton"></i>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="/img/productos/card1.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card3.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card4.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card5.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card6.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card7.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card8.jpeg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card1.jpg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
            <div class="producto-card">
                <div class="producto-imagen">
                    <span class="producto-card__descuento">50% off</span>
                    <img class="producto-card__img" src="img/productos/card2.jpeg" alt="producto">
                    <button class="producto-card__boton" onclick="toggleSelected(this)">Agregar al
                        carrito</button>
                </div>
                <div class="producto-info">
                    <h2 class="producto-info__titulo">Producto</h2>
                    <p class="producto-info__descripcion">Lorem ipsum dolor sit amet.</p>
                    <span class="precio--descuento">$20</span><span class="precio">$40</span>
                </div>
            </div>
        </div>
    </section>
    <footer class="secondArticle">
        <div class="informationStore">
            <div class="subInformation">
                <h4>Informacion de la tienda</h4>
                <a href="#">Avenida siempre viva 742</a>
                <a href="#">ventas@artsphera.com</a>
                <a href="#">0800-000-0000</a>
            </div>
            <div class="subInformation">
                <h4>Productos</h4>
                <a href="#">Nuevos productos</a>
                <a href="#">Más vendidos</a>
                <a href="#">Ofertas especiales</a>
            </div>
            <div class="subInformation">
                <h4>Empresa</h4>
                <a href="#">Contacta con nosotros</a>
                <a href="#">Terminos y condiciones</a>
                <a href="#">Sobre nosotros</a>
            </div>
            <div class="subInformation">
                <h4>Tu cuenta</h4>
                <a href="#">Información personal</a>
                <a href="#">Pedidos</a>
                <a href="#">Cupones de descuento</a>
            </div>
        </div>
        <div class="footerContent">
            <div class="copyrightStore">
                <p>2023 - Artsphera. Todos los derechos reservados.</p>
                <img src="/img/class-payments.png" alt="" width="250px" />
            </div>
        </div>
    </footer>
  </body>
</html>
