<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login | Artesphera</title>
		<link rel="icon" href="/img/Logo 3.png" type="image/x-icon" />
		<link rel="stylesheet" href="/css/style.css" />
		<script
			src="https://kit.fontawesome.com/948b015395.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<main>
			<header class="headerContent">
				<div class="subHeader">
					<p>
						Hacemos envíos a todo el país. Política de devolución de 15 días.
						Envío gratuito en pedidos superiores a $ 10000.
					</p>
				</div>
				<div class="firstHeader">
					<div class="headerMenu">
						<button class="fa-solid fa-bars"></button>
					</div>
					<a href="/">
						<img src="/img/Logo 3.svg" alt="Logo" />
					</a>
					<div class="leftHeader">
						<a href="/">
							<img src="/img/LogoExpanded.svg" alt="" />
						</a>
						<a href="#">Disciplinas</a>
						<div class="leftNav">
							<i class="fa-solid fa-magnifying-glass"></i>
							<input type="text" placeholder="Que deseas encontrar?" />
						</div>
					</div>
					<div class="rightHeader">
						<div class="headerSearch">
							<button class="fa-solid fa-magnifying-glass"></button>
						</div>
						<a href="/carrito" class="fa-solid fa-cart-shopping"></a>
						<a href="/login" class="fa-sharp fa-solid fa-user"></a>
					</div>
				</div>
			</header>
			<section class="mainContent">
				<article class="firstArticle">
					<div class="loginTop">
						<h1>Dale Variedad: Agrega Productos</h1>
						<p>¡Agrega más opciones!</p>
					</div>
					<form action="/register" method="post" class="form">
						<input
							type="text"
							id="nameOfProduct"
							name="nameOfProduct"
							placeholder="Ingresa el nombre del producto."
							required
						/>
						<input
							type="file"
							id="image"
							name="image"
							accept="image/*"
							placeholder="Agrega una imagen."
							required
						/>
						<select id="category" name="category" required>
							<option value="ropa">Ropa</option>
							<option value="electronicos">Electrónicos</option>
							<option value="accesorios">Accesorios</option>
							<option value="hogar">Hogar</option>
						</select>
						<input
							type="number"
							id="price"
							name="price"
							step="0.01"
							placeholder="Precio"
							required
						/><br />
						<textarea
							id="description"
							name="description"
							rows="4"
							placeholder="Descripcion del mismo."
							required
						></textarea>
						<button type="submit">Agregalo</button>
					</form>
				</article>
			</section>
		</main>
	</body>
</html>
