<<<<<<< HEAD
.secondArticle {
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1.25rem;
	padding-top: 3rem;
	flex-direction: column;
	gap: 13rem;
	align-items: center;
	width: 100%;
	background-color: #f6f6f6;
}

.informationStore {
=======
.informacion__tienda{
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.sub__informacion{
>>>>>>> carrito
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	justify-content: space-around;
	width: 100%;
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-align: center;
<<<<<<< HEAD
	color: #6b7280;
	text-align: center;

	@media (min-width: 640px) {
		flex-direction: row;
		text-align: start;
	}
}

.subInformation {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.subInformation > h2 {
	font-weight: 700;
	color: #000000;
}

.subInformation > a {
	color: #6b7280;
}

.footerContent {
	display: flex;
	gap: 0.35rem;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	line-height: 1.5rem;
	background-color: #f6f6f6;
}

.navStore {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
	font-size: 1.6rem;
}

.copyrightStore {
	position: relative;
	display: flex;
	font-size: 1.125rem;
	line-height: 1.75rem;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	font-style: italic;
	flex-direction: column-reverse;

	@media (min-width: 640px) {
		flex-direction: row;
	}
}
=======
	color: #0f1013;
	text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
>>>>>>> carrito
