.a{
    color: black;
    text-decoration: none;
}
.main__div__principal{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main_columna{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main__div__principal--sec{
    display: flex;
}
.main__div__principal__imagen{
    margin: 20px;
    width: 50px;
    text-align: left;
}
.main__div__principal__p{
    color: aliceblue;
    text-align: left;
}
.main__div__principal__h3{
    color: aliceblue;
    text-align: center;
}
.main__div__principal__h5{
    color: #2EDF1F;
    text-align: center;
    margin-top: 10px;
    text-align: left;
}
.main__div__principal__btn{
    color: #2279DE;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
.main__h3{
    color: black;
    text-align: center;
}
.main__div_secundario{
    background-color: black;
    margin-top: 20px;
}
.main__div__secundario__titulo{
    text-align: center;
    color: white;
}
.main__div__secundario__h4{
    color: aliceblue;
    text-align: left;
    margin: 10px;
    padding: 3px;
}
.main__div__cajas{
    border-radius: 1px solid rgb(199, 186, 186);
    background-color: #222020;
    padding: 20px;
    margin: 15px;
    
}
.main__div__img{
    margin: 20px;
    width: 50px;
    text-align: center;
}
.main__div__h4{
    color: white;
    text-align: center;
    margin: 10px;
}
.main__div__p1{
    color: #DE2222;
    text-align: left;
}
.main__div__p2{
    color: #2EDF1F;
    text-align: right;
}
.main__div__input{
    color:black;
    background-color: #D0AD7A;
    border-radius: 10px black;
}
.footer__parte__baja{
    text-align: center;
}
/* .enlaces{
    display: flex;
} */
/* caja del carrito principal */
.div__caja__carrito{
    display: flex;
    outline: 1px solid;
    flex-wrap: wrap;
    padding-right: 5%;
    padding-bottom: 5%;
}
.article__caja__carrito{
    flex: 0 1 20%;
    margin: 2%;
    margin-right: 0%;
    margin-bottom: 0%;
    justify-content: space-between;
    align-content: space-between;
    height: 42vh;
    background-color: #222020;
    border-radius: 10px 10px 10px 10px ;
}
.main__div__cajita{
    display: flex; 
    margin: 5px;
    margin-bottom: 5px; 
    background-color: #D0AD7A;
    color: #222020;

}