.a {
    color: black;
    text-decoration: none;
}
.main_columna {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main__div__principal__imagen {
    margin: 5px;
    width: 50px;
    text-align: left;
    width: 50%;
    border-radius: 5px 5px 0 0;
}
.main__div__principal__p {
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
.main__div__principal__h3 {
    color: aliceblue;
    text-align: center;
}
.main__div__principal__h5 {
    color: #2edf1f;
    text-align: center;
    margin-top: 10px;
}
.main__div__principal__btn {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    background: var(--colorBeige);
    color: #fff;
    border-radius: 10px 10px 10px 10px;
}
.main__div__principal--sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section__div__principal__article {
    text-align: center;
    padding: 5px;
}
.main__h3 {
    padding: 20px;
    font-size: 24px;
    color: black;
    text-align: center;
    text-decoration: var(--colorBeige);
    text-transform: uppercase;
}
.main__div_secundario {
    background-color: black;
    position: relative;
    padding-left: 5px;
    overflow: hidden;
}
.main__div__secundario__titulo {
    text-align: center;
    color: white;
}
.main__div__secundario__h4 {
    padding: 12px;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}
.main__div__cajas {
    border-radius: 1px solid rgb(199, 186, 186);
    background-color: #222020;
    padding: 20px;
    margin: 15px;
}
.main__div__img {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 5px;
}
.main__div__h4 {
    color: white;
    text-align: center;
    margin: 10px;
}
.main__div__p1 {
    color: #de2222;
    text-align: left;
    display: inline-flex;
    margin-bottom: 5px;
    margin: 5%;
    padding: 5%;

    text-transform: uppercase;
}
.main__div__p2 {
    color: #2edf1f;
    text-align: center;
    display: inline-flex;
    margin-bottom: 5px;
    margin: 5%;
    padding: 5%;
}
.main__div__alineado {
    width: 80%;
    height: 80px;
    padding: 10px;
    border: 0 solid #7a7777;
    border-width: 0px 1px 1px 1px;
    border-radius: 0 0 8px 8px;
    background-color: #ffffff;
}
.main__div__input {
    color: black;
    background-color: #d0ad7a;
    border-radius: 10px black;
}
.span__precio__descuento {
    font-weight: 600;
    font-size: 1rem;
    color: var(--colorVerde);
}
.precio {
    margin-left: 20px;
    font-size: 1.5rem;
    opacity: 0.5;
    text-decoration: line-through;
    color: var(--colorRojo);
}
.footer__parte__baja {
    text-align: center;
}
.section__tematica {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: black;
}

.div__caja__carrito {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}
.article__caja__carrito {
    background-color: #222020;
    border-radius: 10px 10px 10px 10px;
    flex: 0 0 auto;
    width: 30%;
    max-width: 50%;
    height: 320px;
    margin-right: 20px;
}
.main__div__cajita:hover,
.main__div__cajita {
    position: relative;
    width: 50%;
    left: 50%;
    bottom: 10px;
    padding: 10px;
    transform: translateX(-50%);
    background: var(--colorCobre);
    color: #000000;
    border-radius: 10px;
    transition: 500ms;
    cursor: pointer;
    border: 1px solid var(--colorNegro);
    text-align: center;
}
/*media de mobil*/
@media (min-width: 320px) {
}
/*media de table*/
@media (min-width: 600px) {
    .section__producto {
        position: relative;
        padding-left: 5px;
        overflow: hidden;
        background-color: #000000;
    }

    .section__producto__categoria {
        padding: 12px;
        font-size: 1.8rem;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
    }

    .div__producto__container {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-bottom: 20px;
    }
    .div__producto__card {
        flex: 0 0 auto;
        width: 85%;
        max-width: 100%;
        height: 400px;
        margin-right: 20px;
    }
    .div__producto__imagen {
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    .producto-card__descuento {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
        border-radius: 5px;
        background: #fff;
        color: #ff7d7d;
        text-transform: capitalize;
    }
    .div__producto__card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .div__producto__card__boton {
        position: absolute;
        width: 90%;
        left: 50%;
        bottom: 10px;
        padding: 10px;
        transform: translateX(-50%);
        background: var(--colorCobre);
        border-radius: 10px;
        transition: 500ms;
        cursor: pointer;
        opacity: 0;
        border: 1px solid #000000;
    }

    .div__producto__card:hover .div__producto__card__boton {
        opacity: 1;
    }

    .div__producto__card__boton:hover,
    .div__producto__card__boton.selected {
        background: var(--colorBeige);
        color: #fff;
    }
    .div__producto__info {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 0 solid #7a7777;
        border-width: 0px 1px 1px 1px;
        border-radius: 0 0 8px 8px;
        background-color: #ffffff;
        text-align: center;
    }
}
/*media de desktop*/
@media (min-width: 1024px) {
    .section__producto {
        position: relative;
        padding-left: 5px;
        overflow: hidden;
        background-color: #000000;
    }

    .section__producto__categoria {
        padding: 12px;
        font-size: 1.8rem;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
    }

    .div__producto__container {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-bottom: 20px;
    }
    .div__producto__card {
        flex: 0 0 auto;
        width: 85%;
        max-width: 100%;
        height: 400px;
        margin-right: 20px;
    }
    .div__producto__imagen {
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    .producto-card__descuento {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
        border-radius: 5px;
        background: #fff;
        color: #ff7d7d;
        text-transform: capitalize;
    }
    .div__producto__card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .div__producto__card__boton {
        position: absolute;
        width: 90%;
        left: 50%;
        bottom: 10px;
        padding: 10px;
        transform: translateX(-50%);
        background: var(--colorCobre);
        border-radius: 10px;
        transition: 500ms;
        cursor: pointer;
        opacity: 0;
        border: 1px solid #000000;
    }

    .div__producto__card:hover .div__producto__card__boton {
        opacity: 1;
    }

    .div__producto__card__boton:hover,
    .div__producto__card__boton.selected {
        background: var(--colorBeige);
        color: #fff;
    }
    .div__producto__info {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 0 solid #7a7777;
        border-width: 0px 1px 1px 1px;
        border-radius: 0 0 8px 8px;
        background-color: #ffffff;
        text-align: center;
    }
}

.section__producto {
    position: relative;
    padding-left: 5px;
    overflow: hidden;
    background-color: #000000;
}

.section__producto__categoria {
    padding: 12px;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.div__producto__container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}
.div__producto__card {
    flex: 0 0 auto;
    width: 85%;
    max-width: 100%;
    height: 400px;
    margin-right: 20px;
}
.div__producto__imagen {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.producto-card__descuento {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    color: #ff7d7d;
    text-transform: capitalize;
}
.div__producto__card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.div__producto__card__boton {
    position: absolute;
    width: 90%;
    left: 50%;
    bottom: 10px;
    padding: 10px;
    transform: translateX(-50%);
    background: var(--colorCobre);
    border-radius: 10px;
    transition: 500ms;
    cursor: pointer;
    opacity: 0;
    border: 1px solid #000000;
}

.div__producto__card:hover .div__producto__card__boton {
    opacity: 1;
}

.div__producto__card__boton:hover,
.div__producto__card__boton.selected {
    background: var(--colorBeige);
    color: #fff;
}
.div__producto__info {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 0 solid #7a7777;
    border-width: 0px 1px 1px 1px;
    border-radius: 0 0 8px 8px;
    background-color: #ffffff;
    text-align: center;
}
.producto-card__descuento {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    color: #ff7d7d;
    text-transform: capitalize;
}

/* CARRITO COMPRA */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cartBtn {
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success {
    background-color: #4caf50;
}
.btn-danger {
    background-color: #9a0808;
}

.alert {
    margin: 5px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
