/* Header */
.contentHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.firstHeader {
  display: flex;
  padding: 1.25rem 3rem;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.firstHeader > img {
  display: block;
  width: 3rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

.headerMenu {
  display: inline-block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.headerMenu > button {
  font-size: 1.65rem;
  line-height: 1.65rem;
}

.leftHeader {
  display: none;
  gap: 3rem;
  align-items: center;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.leftHeader > img {
  width: 16.5em;
}

.leftHeader > a {
  font-style: italic;
}

.leftNav {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
}

.leftNav > i {
  position: absolute;
  padding-left: 1rem;
}

.leftNav > input {
  padding: 0.5rem 75% 0.5rem 75%;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
}

.leftNav > input::placeholder {
  color: black;
}

.rightHeader {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.rightHeader > a {
  font-size: 1.65rem;
  line-height: 1.65rem;
}

.headerSearch {
  display: inline-block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.headerSearch > button {
  font-size: 1.65rem;
}

.subHeader {
  display: none;
  font-size: 0.65rem;
  line-height: 1.15rem;
  text-align: center;
  background-color: #baa17b;

  @media (min-width: 640px) {
    font-size: 0.75rem;
    line-height: 1.15rem;
    display: block;
  }
}

.index {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Main */
.mainContainer {
  margin: 0 15px;
}

.img-detail {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.img-detail img {
  width: 100%;
}

.mainAutor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainAutor h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.mainAutor .mainPrecio {
  font-weight: 500;
  font-size: 1.2rem;
}

.mainAutor button {
  background-color: #d0947a;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-weight: 500;
  margin-top: 1rem;
  text-transform: uppercase;
}

.mainAutor .mainSobre {
  background-color: #f9f7f7;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.mainSobre div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.mainSobreCreacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.mainSobreCreacion h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.mainDetalleEspecificacion {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}

.mainDetalleEspecificacion h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.mainDetalleEspecificacion .mainOtrosDetalles {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.mainEnvios {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: 1.2rem;
}

.mainDetalleEnvios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.imgEnvio {
  width: 80px;
}

.mainDetalleEnvios h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.mainCarrousel {
  background-color: #050505;
}

/* NOVEDADES & PRODUCTOS DESTACADOS */

.index-producto {
  position: relative;
  padding-left: 5px;
  overflow: hidden;
  background-color: #000000;
}

.index-producto__categoria {
  padding: 12px;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

.producto-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 20px;
}

.producto-container::-webkit-scrollbar,
.oferta-container::-webkit-scrollbar {
  display: none;
}

.producto-card {
  flex: 0 0 auto;
  width: 85%;
  max-width: 100%;
  height: 450px;
  margin-right: 20px;
}

.producto-card:nth-child(1) {
  margin-left: 15px;
}

.producto-imagen {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.producto-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.producto-card__descuento {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  color: #ff7d7d;
  text-transform: capitalize;
}

.producto-card__boton {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 10px;
  padding: 10px;
  transform: translateX(-50%);
  background: var(--colorCobre);
  border-radius: 10px;
  transition: 500ms;
  cursor: pointer;
  opacity: 0;
  border: 1px solid #000000;
}

.producto-card:hover .producto-card__boton {
  opacity: 1;
}

.producto-card__boton:hover,
.producto-card__boton.selected {
  background: var(--colorBeige);
  color: #fff;
}

.producto-info {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 0 solid #7a7777;
  border-width: 0px 1px 1px 1px;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
}

.producto-info__titulo {
  text-transform: uppercase;
}

.producto-info__descripcion {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.precio--descuento {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--colorVerde);
}

.precio {
  margin-left: 20px;
  font-size: 1.5rem;
  opacity: 0.5;
  text-decoration: line-through;
  color: var(--colorRojo);
}

.ant-boton,
.sig-boton {
  display: none;
}

/* TABLET */

@media (min-width: 600px) {
  /* PRODUCTOS */
  .producto-card {
    flex: 0 0 45%;
    margin-left: 20px;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  /* PRODUCTOS */
  .producto-card {
    flex: 0 0 22%;
    margin-left: 5px;
  }

  /* BOTONES */

  .ant-boton {
    left: 0;
  }

  .sig-boton {
    right: 0;
  }

  .ant-boton,
  .sig-boton {
    position: absolute;
    width: 5vw;
    top: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    z-index: 8;
    border-radius: 50%;
    border: none;
    align-items: center;
    background-color: #f9f9f8;
  }
}

@media (min-width: 768px) {
  .mainFlexImg {
    display: flex;
    justify-content: space-around;
  }
  .mainCreacion {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .mainSobreCreacion {
    width: 50%;
  }
  .mainEnvios {
    flex-direction: row;
  }
}
