/* MAIN */

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile__title {
    margin: 10px;
}

/* FORMULARIO ACTUALIZAR */

.profile-form {
    background-color: #fafafa;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 50px;
}

.profile-form__form {
    width: 90%;
}

.profile-form__input {
    display: block;
    width: 100%;
    padding: 10px;
    border: solid 1px #757575;
    border-radius: 3px;
}

.profile-form__input[type="text"] {
    text-transform: capitalize;
}

.profile-form__title {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
}

.profile-form__div {
    margin-bottom: 15px;
}

.profile-form__div {
    margin-top: 25px;
}

.profile-form__button {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.profile-form__actualizar {
    display: none;
}

.profile-form__button:hover {
    background-color: #000000;
}

/* FORMULARIO ELIMINAR */

/* MODAL */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    width: 80%;
    max-width: 300px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.modal-title{
    margin: 0;
    margin-bottom: 20px;

}

.modal-body p {
    padding-bottom: 30px;
    font-weight: 600;
}

/* BOTONES MODAL */

.btn {
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #a90303;
    color: #fff;
}

.btn-primary:hover {
    background-color: #961414;
    color: #fff;
}

.btn-secondary {
    background-color: #ccc;
    color: #000;
    width: 45%;
}

.btn-secondary:hover {
    background-color: #919191;
    color: #ffffff;
}

.modal-footer__btn-delete{
    width: 45%;
}