<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title: "Artesphera | Admin panel"}) %>
	<link rel="stylesheet" href="/dist/output.css" />
	<body>
		<main class="min-h-screen flex flex-col">
			<%- include('partials/header') %>
			<section
				class="flex-1 flex flex-col items-center justify-center gap-60 bg-[url('/images/loginWallpaper.png')] bg-auto bg-repeat sm:gap-0 lg:bg-center"
			>
				<article
					class="flex flex-col w-full bg-white sm:max-w-6xl p-8 text-base"
				>
					<div
						class="grid grid-cols-1 lg:grid-cols-2 lg:min-h-[77.5vh] min-h-screen gap-12"
					>
						<div class="flex flex-col justify-center gap-12 relative">
							<p class="text-3xl font-bold">Bienvenido a la Administración!</p>
							<a
								href="/products/add"
								class="p-3 text-gray-50 transition-all ease-in-out bg-black font-medium"
							>
								Nuevo producto</a
							>
						</div>
						<%- include('partials/table') %>
					</div>
				</article>
			</section>
		</main>
	</body>
</html>
