<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',{title: "Artesphera | Carrito"}) %>

<body class="body">
    <%- include('partials/header') %>
    <main class="main">
        <section class="section__tematica">
            <h3 class="main__h3">Carrito de compras</h3>
            <div class="main__div__principal--sec">
                <article class="section__div__principal__article">
                    <img class="main__div__principal__imagen" src="/images/productos/cards/card5.jpg" alt="pintura1">
                    <p class="main__div__principal__p">Pintura de la decada 80 ilustrada por pablo picaso mostrando el reflejo del alma</p>
                    <h3 class="main__div__principal__h3">Precio: $12000</h3>
                    <button class="main__div__principal__btn">Comprar</button>
                    <button class="main__div__principal__btn">Borrar</button>
                    <h5 class="main__div__principal__h5">Envio gratis</h5>
                </article>
                <article class="section__div__principal__article">
                        <img class="main__div__principal__imagen" src="/images/productos/cards/card6.jpg" alt="pintura2">
                        <p class="main__div__principal__p">Pintura de la decada 80 ilustrada por pablo picaso mostrando el reflejo del alma</p>
                        <h3 class="main__div__principal__h3">Precio: $15000</h3>
                        <button class="main__div__principal__btn">Comprar</button>
                        <button class="main__div__principal__btn">Borrar</button>
                        <h5 class="main__div__principal__h5">Envio gratis</h5>
                </article> 
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
