<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <!-- <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css"> -->
    <!-- <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/16018bb78d.js" crossorigin="anonymous"></script>

</head>
<body class="body">
    <header class="headerContent">
        <div class="subHeader">
            <p>
                Hacemos envíos a todo el país. Política de devolución de 15 días.
                Envío gratuito en pedidos superiores a $ 10000.
            </p>
        </div>
        <div class="firstHeader">
            <div class="headerMenu">
                <button class="fa-solid fa-bars"></button>
            </div>
            <img src="/images/Logo 3.svg" alt="Logo" />
            <div class="leftHeader">
                <img src="/images/LogoExpanded.svg" alt="LogoExpanded" />
                <div class="dropdown">
                    <a href="#" class="dropdown-titulo">Disciplinas</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pintura</a></li>
                        <li><a href="#">Escultura</a></li>
                        <li><a href="#">Fotografía</a></li>
                        <li><a href="#">Dibujo</a></li>
                        <li><a href="#">Arte Digital</a></li>
                        <li><a href="#">Collage</a></li>
                    </ul>
                </div>
                <div class="leftNav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Que deseas encontrar?" />
                </div>
            </div>
            <div class="rightHeader">
                <div class="headerSearch">
                    <button class="fa-solid fa-magnifying-glass"></button>
                </div>
                <a href="carrito" class="fa-solid fa-cart-shopping"></a>
                <a href="login" class="fa-sharp fa-solid fa-user"></a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__div__principal">
            <div class="main__div__principal--sec">
                <img class="main__div__principal__imagen" src="/images/pintura2.png" alt="pintura1">
                <p class="main__div__principal__p">Agregaste a tu carrito</p>
                <p class="main__div__principal__p">Pintura de la decada 80 ilustrada por pablo picaso mostrando el reflejo del alma</p>
                <h3 class="main__div__principal__h3">1 producto en tu carrito:9200</h3>
                <button class="main__div__principal__btn">Ver carrito</button>
                <button class="main__div__principal__btn">Comprar carrito</button>
                <h5 class="main__div__principal__h5">Envio gratis</h5>
            </div>
            <div class="main__div__principal--sec">
                <img class="main__div__principal__imagen" src="/images/pintura4.png" alt="pintura2">
                <p class="main__div__principal__p">Agregaste a tu carrito</p>
                <p class="main__div__principal__p">Pintura de la decada 80 ilustrada por pablo picaso mostrando el reflejo del alma</p>
                <h3 class="main__div__principal__h3">2 producto en tu carrito:9200</h3>
                <button class="main__div__principal__btn">Ver carrito</button>
                <button class="main__div__principal__btn">Comprar carrito</button>
                <h5 class="main__div__principal__h5">Envio gratis</h5>
            </div>
        </div>
        <h3 class="main__h3">Carrito de compra</h3>
        <div class="main__div_secundario"> 
            <!-- <div class="main__div__secundario__titulo"> -->
                    <h1 class="main__div__secundario__h4">Pintura | Escultura | Fotografia | Ilustraciones</h1>
                <!-- <ul class="enlaces">
                    <li><a href="">Pintura |</a></li>
                    <li><a href="">Escultura |</a></li>
                    <li><a href="">Fotografia |</a></li>
                    <li><a href="">Ilustraciones |</a></li>
                </ul> -->
                <div class="div__caja__carrito">
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Pintura</h4>
                        <img class="main__div__img" src="/images/pintura2.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Sumario</h4>
                        <img class="main__div__img" src="/images/pintura4.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Flowers</h4>
                        <img class="main__div__img" src="/images/pintura1.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Alejandro Magno</h4>
                        <img class="main__div__img" src="/images/píntura3.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
            </div>
        </div>
    </main>
    <footer class="secondArticle">
        <div class="informationStore">
                <div class="subInformation">
                    <h2>Informacion de la tienda</h2>
                    <a href="#">Avenida siempre viva 742</a>
                    <a href="#">ventas@artsphera.com</a>
                    <a href="#">0800-000-0000</a>
                </div>
                <div class="subInformation">
                    <h2>Productos</h2>
                    <a href="#">Nuevos productos</a>
                    <a href="#">Más vendidos</a>
                    <a href="#">Ofertas especiales</a>
                </div>
                <div class="subInformation">
                    <h2>Empresa</h2>
                    <a href="#">Contacta con nosotros</a>
                    <a href="#">Terminos y condiciones</a>
                    <a href="#">Sobre nosotros</a>
                </div>
                <div class="subInformation">
                    <h2>Tu cuenta</h2>
                    <a href="#">Información personal</a>
                    <a href="#">Pedidos</a>
                    <a href="#">Cupones de descuento</a>
                </div>
            </div>
        <article class="footer__parte__baja">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </article>
        <article class="footer__parte__baja">
            <p>
                <img src="/images/Group.png" alt="">2023-arthespera.todos los derechos reservados   
                <img src="/images/visa.png" alt="">
                <img src="/images/american_express.png" alt="">
                <img src="/images/card_blue.png" alt="">
                <img src="/images/master_card.png" alt="">
                <img src="/images/paypal.png" alt="">
            </p>
        </article>
    </footer> 
</body>
</html>
