<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body class="body">
    <%- include('partials/header') %>
    <main class="main">
        <div class="main__div__principal">
            <div class="main__div__principal--sec">
                <img class="main__div__principal__imagen" src="/images/pintura2.png" alt="pintura1">
                <p class="main__div__principal__p">Agregaste a tu carrito</p>
                <p class="main__div__principal__p">Pintura de la decada 80 ilustrada por pablo picaso mostrando el reflejo del alma</p>
                <h3 class="main__div__principal__h3">1 producto en tu carrito:9200</h3>
                <button class="main__div__principal__btn">Ver carrito</button>
                <button class="main__div__principal__btn">Comprar carrito</button>
                <h5 class="main__div__principal__h5">Envio gratis</h5>
            </div>
            <div class="main__div__principal--sec">
                <img class="main__div__principal__imagen" src="/images/pintura4.png" alt="pintura2">
                <p class="main__div__principal__p">Agregaste a tu carrito</p>
                <p class="main__div__principal__p">Pintura de la decada 80 ilustrada por pablo picaso mostrando el reflejo del alma</p>
                <h3 class="main__div__principal__h3">2 producto en tu carrito:9200</h3>
                <button class="main__div__principal__btn">Ver carrito</button>
                <button class="main__div__principal__btn">Comprar carrito</button>
                <h5 class="main__div__principal__h5">Envio gratis</h5>
            </div>
        </div>
        <h3 class="main__h3">Carrito de compra</h3>
        <div class="main__div_secundario"> 
            <!-- <div class="main__div__secundario__titulo"> -->
                    <h1 class="main__div__secundario__h4">Pintura | Escultura | Fotografia | Ilustraciones</h1>
                <!-- <ul class="enlaces">
                    <li><a href="">Pintura |</a></li>
                    <li><a href="">Escultura |</a></li>
                    <li><a href="">Fotografia |</a></li>
                    <li><a href="">Ilustraciones |</a></li>
                </ul> -->
                <div class="div__caja__carrito">
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Pintura</h4>
                        <img class="main__div__img" src="/images/pintura2.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Sumario</h4>
                        <img class="main__div__img" src="/images/pintura4.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Flowers</h4>
                        <img class="main__div__img" src="/images/pintura1.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
                    <article class="article__caja__carrito">
                        <h4 class="main__div__h4">Alejandro Magno</h4>
                        <img class="main__div__img" src="/images/píntura3.png" alt="">
                        <div class="main__div__alineado">
                            <p class="main__div__p1">$10000</p>
                            <p class="main__div__p2">$9200</p>
                        </div>
                        <p class="main__div__cajita">agregaste al carrito</p>
                    </article>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
