<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		<%= title %>
	</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
	<script src="https://kit.fontawesome.com/a80a6cbb3e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="https://cdn.jsdelivr.net/npm/animejs"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
