<header class="headerContent">
	<div class="subHeader">
		<p>
			Hacemos envíos a todo el país. Política de devolución de 15 días.
			Envío gratuito en pedidos superiores a $ 10000.
		</p>
	</div>
	<div class="firstHeader">
		<div class="headerMenu">
			<button class="fa-solid fa-bars"></button>
		</div>
		<a href="/">
			<img src="/images/Logo 3.svg" alt="Logo" />
		</a>
		<div class="leftHeader">
			<a href="/">
				<img src="/images/LogoExpanded.svg" alt="" />
			</a>
			<div class="dropdown">
				<a href="#" class="dropdown-titulo">Disciplinas</a>
				<ul class="dropdown-menu">
					<li><a href="#">Pintura</a></li>
					<li><a href="#">Escultura</a></li>
					<li><a href="#">Fotografía</a></li>
					<li><a href="#">Dibujo</a></li>
					<li><a href="#">Arte Digital</a></li>
					<li><a href="#">Collage</a></li>
				</ul>
			</div>
			<div class="leftNav">
				<i class="fa-solid fa-magnifying-glass"></i>
				<input type="text" placeholder="Que deseas encontrar?" />
			</div>
		</div>
		<div class="rightHeader">
			<div class="headerSearch">
				<button class="fa-solid fa-magnifying-glass"></button>
			</div>
			<a href="/carrito" class="fa-solid fa-cart-shopping"></a>
			<div class="dropdown">
				<a href="#" class="fa-sharp fa-solid fa-user"></a>
				<ul class="dropdown-menu dropdown-menu-user">
					<li><a href="/users/login">Iniciar sesión</a></li>
					<li><a href="/users/register">Registro</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>