<article
	class="flex justify-between border-b px-7 bg-white items-center border-[#d1d5db] sticky h-full top-[6.1rem] sm:top-[7.2rem] z-20"
>
	<div
		class="flex items-center border-r py-3 pr-9 object-cover gap-6 border-[#d1d5db]"
	>
		<button class="fa-regular fa-square-full text-lg text-gray-300"></button>
		<button
			class="fa-solid fa-expand text-xl text-black active:text-black"
		></button>
	</div>
	<div class="py-3 flex items-center gap-1 border-l border-[#d1d5db] pl-9">
		<p>Ordenar</p>
		<i class="fa-solid fa-angle-down text-gray-500 text-sm pt-1"></i>
	</div>
</article>
